# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Electron
dist/
build/
*.tsbuildinfo

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Env/Secrets
.env
.env.local
.env.*.local

# Optional log files
logs/
*.log

# Cache
.cache/
.eslintcache

# Electron packaging
out/
